<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../style/style.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Flashcards</title>
</head>
<body>
<div class="container">
    <div class="logo">
        <img alt="Logo image" src="../images/logo.svg">
    </div>
    <div class="login-container">
        <form>
            <input name="email" placeholder="your@email.com" type="text">
            <input name="password" placeholder="password" type="password">
            <button>LOGIN</button>
        </form>
    </div>
</div>
</body>
</html>