section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;
}

@media only screen and (max-device-width: 1000px) {
    section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2em;
        padding: 2em;
        overflow: auto;
    }
}

@media only screen and (max-device-width: 800px) {
    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2em;
        padding: 2em;
        overflow: auto;
    }
}

@media only screen and (max-device-width: 400px) {
    section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2em;
        padding: 2em;
        overflow: auto;
    }
}

.flashcards > div > img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.flashcards > div > div {
    height: 50%;
    margin: 1em;
    color: #2699FB;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flashcards > div {
    border: 1px solid gray;
    border-radius: 1em 1em 0 0;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


main {
    width: 100%;
}

#base-container {
    width: 100%;
}